!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.tags,
                description: current_page.data.description })
  %body
    .top
      %header.grid
        .logo
          ðŸ¦ Inko
        .expand-menu
          %a{ href: '#' }
            â˜°
        %nav.main-menu
          %ul
            - data.menu.each do |link|
              %li
                = link_to(link['title'], link['url'])

    .jumbotron
      .grid
        .introduction
          %h1
            = data.jumbotron.title

          = markdown(data.jumbotron.body)

          - data.jumbotron.buttons.each do |button|
            %a.button{ class: button['color'], href: button[:url] }
              = button['text']
        .code-examples
          %select{ title: 'Choose a code example to display' }
            - data.examples.each_with_index do |example, index|
              %option{ 'data-example' => example['title'],
              selected: index.zero? ? 'selected' : nil }
                = example['title']

          - data.examples.each_with_index do |example, index|
            .example{ 'data-example' => example['title'],
            class: index.zero? ? 'visible' : nil }
              = markdown(example['code'])

    .features
      %h1
      .grid
        - data.features.each do |feature|
          %section
            %h1= feature['title']
            = markdown(feature['body'])
