!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.keywords,
                description: current_page.data.description })
  %body
    = partial('top')

    .page
      .grid
        %section
          %header
            %h1= current_page.data.title

          .news-index
            - blog.articles.each do |article|
              %article
                %header
                  %h1= link_to(article.title, article)
                  = partial('news_meta', locals: { article: article })
                = article.summary

        = partial('sidebar')

    = partial('footer')
