!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.keywords,
                description: current_page.data.description,
                canonical: current_article.url })
  %body
    = partial('top')

    .page
      .grid
        %article.news-article
          %header
            %h1= current_article.title
            %p.news-meta
              Published on:
              %time{ datetime: current_article.date.to_time.utc.iso8601 }
                = current_article.date.to_time.utc.strftime('%Y-%m-%d')
          = yield
