!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_article.data.keywords,
                description: current_article.data.description,
                canonical: current_article.url })
  %body
    = partial('top')

    .page
      .grid
        %article.news-article
          %header
            %h1= current_article.title
            %p.news-meta
              Published on
              %time{ datetime: current_article.date.to_time.utc.iso8601 }
                = current_article.date.to_time.utc.strftime('%b %d, %Y')
              - if current_article.data.author
                by #{current_article.data.author}
          = yield
