!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { canonical: current_page.url })
  %body
    = partial('top')

    .page
      .grid
        %article{ class: current_page.data.html_class }
          %header
            %h1
              = current_page.data.title
          = yield

          - if data.sponsors.any?
            %h2 Sponsors
            = partial('sponsors')

        = partial('sidebar')
