%table.sponsors-table
  %thead
    %tr
      %th.avatar
      %th Sponsor
      %th Total
      %th Donor since
  %tbody
    - sorted_sponsors(tier) do |member|
      %tr
        %td.avatar
          - if member['image']
            = image_tag(member['image'], alt: member['name'], height: 30)
        %td
          - if member['website']
            %a{href: member['website'], title: member['name']}
              = member['name']
          - else
            = member['name']
        %td
          #{member['currency_symbol']}#{member['total_donated'] / 100}
        %td
          = sponsor_date(member['created_at'])
